html,
body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: 'Soria';
}

:root {
	/* COLORS */
	--secondary: #0d2818;
	--primary: #f8e4de;
	--text: #f8e4de;

	/* SPACING */
	--margin: 2rem;
	--small: 1.2rem;
	--extraSmall: 0.8rem;
	--medium: 1.6rem;
	--large: 2.4rem;
	--extra-large: 4.8rem;
	--massive: 6.4rem;

	/* TEXT */
	--text-lg: 2rem/1.5;
}

@font-face {
	font-family: 'Soria';
	src: url('/fonts/soria-font.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

html::-webkit-scrollbar {
	background: transparent;
	width: 0.3rem;
	height: 2rem;
}
html::-webkit-scrollbar-thumb {
	background: var(--accent);
	/*	border-radius: 3rem;*/
	height: 2rem;
	width: 1px;
}
html::-webkit-scrollbar-track {
	background: transparent;
}

html {
	background: url('/aberash_bg.png') center center repeat var(--primary);
	background-size: contain;
}
@media (max-width: 800px) {
	/* font-size: 60%; */
}
